<!DOCTYPE html>
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    {{ partial "header.html" . }}
    {{  if .Params.Hero }}
      <style>
        div.hero--bg {
          background-image: url('{{ .Params.Hero }}');
          background-color: {{ .Params.Color.Base }};
        }
        {{  if .Params.Color.Alt }}
        @media screen and (prefers-color-scheme: light) {
          div.hero--bg {
            background-color: {{ .Params.Color.Alt }};
          }
        }
        {{ end }}
      </style>
      <div class="hero--bg">
      </div>
    {{ else if .Params.Keyword }}
      <div class="hero--x">
        <span>{{ .Params.Keyword }}</span>
      </div>
    {{ end }}
    <main role="main">
      <article>
        <h1>
          {{ .Title }}
        </h1>
        {{ .Content }}
      </article>
    </main>
    {{ partial "footer.html" . }}
  </body>
</html>
