:root
  font-family "Futura",
              system-ui,
              -apple-system,
              BlinkMacSystemFont,
              "Segoe UI",
              "Roboto",
              "Oxygen",
              "Ubuntu",
              "Cantarell",
              "Fira Sans",
              "Droid Sans",
              "Helvetica Neue",
              "Apple Color Emoji",
              "Segoe UI Emoji",
              "Segoe UI Symbol",
              sans-serif
  font-size 16px
  font-size 100%
  line-height 1.5
  overflow-wrap break-word
  hanging-punctuation first
  -ms-text-size-adjust 100%
  -webkit-text-size-adjust 100%
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  -webkit-tap-highlight-color transparent
  box-sizing border-box
  background black
  color silver

:focus
  outline 4px solid yellow

::selection
  background yellow
  color black

body
blockquote
figure
  margin 0

body
  padding 0 2rem .75rem
  @media (min-width: 36rem)
    padding 0 8% 1.5rem
  @media (min-width: 48rem)
    padding 0 16% 1.5rem

main
  display block

h1
h2
h3
h4
h5
h6
  font-weight bold
  font-weight 800
  letter-spacing -0.04rem
  overflow-wrap normal

h1
  font-size 4.096rem
  line-height 3.75rem
  margin-top 3.75rem
  margin-bottom 2.25rem

h2
  font-size 2.56rem
  line-height 2.25rem
  margin-top 3rem
  margin-bottom 1.5rem

h3
  font-size 1.6rem
  line-height 1.5rem
  margin-top 2.25rem
  margin-bottom 0.75rem

h4
  font-size 1rem
  line-height 1.5rem
  margin-top 1.5rem
  margin-bottom 0

a
  color inherit

p
  line-height 1.5rem
  margin-top 0
  margin-bottom 1.5rem
  max-width 32rem
  a
    color blue-dark
    &:link
    &:visited
      color blue-dark
    &:hover
    &:active
    &:focus
      color aqua

p
ul
ol
figure
iframe
h2
h3
h4
h5
h6
  max-width 32rem

figure
  text-align center

img
  max-width calc(100% + 4rem)
  margin-left -2rem
  height auto

figcaption
  text-align center
  font-size .875rem
  color gray

blockquote
  border-left 4px solid currentColor
  font-style italic
  padding-left 1rem

ul
ol
  padding-left 0
  list-style-position outside
  margin-top 1.5rem
  margin-bottom 1.5rem

pre
code
  background navy
  color aqua
  font-family Menlo,
              Monaco,
              Consolas,
              Courier,
              monospace
  font-size .875rem
  line-height 1.5rem

pre
  margin-top 0
  margin-bottom 1.5rem

code
  display inline-block
  padding-left .25rem
  padding-right .25rem

iframe
  width 100%
  height calc((100vw / 16) * 9)
  @media (min-width: 36rem)
    height (32rem / 16) * 9
