@import "_import/colours.styl"

// Base sizes
$base-font-size = 100 // % mobile. No units.
$base-font-size-desktop = 125 // % desktop. No units.
$line-height = 1.5
$line-height-desktop = 1.6
$max-width = 35 // Number only, no units.

// Mobile base & leading
$base = 16 * ($base-font-size / 100)
$leading = round($base * $line-height)
$leading-rem = $leading / $base

// Desktop base & leading
$base-desktop = 16 * ($base-font-size-desktop / 100)
$leading-desktop = round($base-desktop * $line-height-desktop)
$leading-rem-desktop = $leading-desktop / $base-desktop

// Modular Scale (Base: 16, Ratio: 2)
$ms-xxl = 16
$ms-xl = 8
$ms-l = 4
$ms-m = 2
$ms-s = 1
$ms-xs = .5
$ms-xxs = .25

px-font-size(val)
  font-size (val * $base)px
  font-size (val)rem
  @media (min-width ($max-width)rem)
    font-size (val * $base-desktop)px
    font-size (val)rem

px-line-height(val)
  line-height (val * $leading)px
  line-height (val * $leading-rem)rem
  @media (min-width ($max-width)rem)
    line-height (val * $leading-desktop)px
    line-height (val * $leading-rem-desktop)rem

px-margin(top, bottom)
  margin-top (top * $leading)px
  margin-top (top * $line-height)rem
  margin-bottom (bottom * $leading)px
  margin-bottom (bottom * $line-height)rem
  @media (min-width ($max-width)rem)
    margin-top (top * $leading-desktop)px
    margin-top (top * $line-height-desktop)rem
    margin-bottom (bottom * $leading-desktop)px
    margin-bottom (bottom * $line-height-desktop)rem

:root
  font-family system-ui,
              -apple-system,
              BlinkMacSystemFont,
              "Segoe UI",
              "Roboto",
              "Oxygen",
              "Ubuntu",
              "Cantarell",
              "Fira Sans",
              "Droid Sans",
              "Helvetica Neue",
              "Apple Color Emoji",
              "Segoe UI Emoji",
              "Segoe UI Symbol",
              sans-serif
  font-size ($base)px
  font-size ($base-font-size)%
  line-height ($leading)px
  line-height $leading-rem
  overflow-wrap break-word
  -ms-text-size-adjust 100%
  -webkit-text-size-adjust 100%
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  -webkit-tap-highlight-color transparent
  box-sizing border-box
  background white
  color black
  @media (min-width ($max-width)rem)
    font-size ($base-desktop)px
    font-size ($base-font-size-desktop)%
    line-height ($leading-desktop)px
    line-height $leading-rem-desktop

:focus
  outline .125rem solid yellow

::selection
  background yellow
  color black

body
  background-image linear-gradient(to bottom, hsla(200, 100%, 0%, .1) 1px, transparent 1px, transparent (.5 * $leading)px, hsla(200, 100%, 0%, .1) (.5 * $leading)px, transparent (.5 * $leading + 1)px, transparent ($leading)px)
  background-position left top
  background-repeat repeat
  background-size 100% ($leading)px
  background-size 100% ($leading-rem)rem
  @media (min-width ($max-width)rem)
    background-image linear-gradient(to bottom, hsla(200, 100%, 0%, .1) 1px, transparent 1px, transparent (.5 * $leading-desktop)px, hsla(200, 100%, 0%, .1) (.5 * $leading-desktop)px, transparent (.5 * $leading-desktop + 1)px, transparent ($leading)px)
    background-size 100% ($leading-desktop)px
    background-size 100% ($leading-rem-desktop)rem

body
blockquote
figure
  margin 0

main
  display block
  margin 0 8%
  h1
    max-width 100%
    text-align center
  h2
  h3
  h4
  h5
  h6
    max-width 92%
  p
  ul
  ol
  img
  pre
    max-width ($max-width)rem

header
  margin 1rem
  text-align right

p
  px-margin(1, 1)

a
  color blue
  text-decoration none
  &:link
  &:visited
    color blue
  &:hover
  &:active
  &:focus
    color aqua
    text-decoration underline

h1
h2
h3
h4
h5
h6
  font-weight bold
  font-weight 800
  line-height 1
  a
    color inherit
    text-decoration none
    &:link
    &:visited
      color inherit
    &:hover
    &:active
    &:focus
      background blue
      color black
      text-decoration none

h1
  px-font-size(8)
  px-line-height(4)
  px-margin(3, 2)

h2
  px-font-size(4)
  px-line-height(2.5)
  px-margin(2, 1)

h3
  px-font-size(2)
  px-line-height(1)
  px-margin(1, 1)

h4
  px-font-size(1)
  px-line-height(1)
  px-margin(1, 1)

img
  max-width calc(100% + 2rem)
  margin-left -1rem
  height auto

figcaption
  text-align center
  font-size .875rem
  color gray

blockquote
  border-left 4px solid inherit
  font-style italic
  padding-left 1rem

ul
ol
  list-style none
  padding 0
  px-margin(1, 1)

ul > li
  &:before
    content "\2022"
    color blue
    display inline-block
    width 1rem
    margin-left -@width
    vertical-align text-bottom

ol
  counter-reset item
  > li
    &:before
      content counter(item) " "
      counter-increment item
      color blue
      display inline-block
      width 1rem
      margin-left -@width
    p
      display inline

pre
code
  background navy
  color aqua
  font-family Menlo,
              Monaco,
              Consolas,
              Courier,
              monospace
  font-size .875rem
  padding .125rem .25rem

iframe
  width ($max-width)rem
  height (@width / 16) * 9
  @media (max-width ($max-width)rem)
    height calc((100vw / 16) * 9)

table
  background black
  border-collapse collapse
  border-spacing 0
  margin 0
  padding 0

table tr
  border 2px solid silver

table th, table td
  padding 16px 8px
  text-align center

table th
  background blue
  color black
  text-transform uppercase

@media (max-width 800px)

  table
    border 0
    margin 0
    width 100%

  table thead
    display none

  table tr
    border-bottom 2px solid silver
    display block
    margin-bottom 8px
    padding 8px

  table th, table td
    display block

  table td
    border-bottom 2px dotted silver
    text-align right

  table td:last-child
    border-bottom 0

  table td:before
    content attr(data-label)
    float left
    font-weight 700
    margin 0 16px 16px 0
    text-transform uppercase
