table
  background transparent
  border-collapse collapse
  border-spacing 0
  margin 0
  padding 0

table tr
  border 2px solid silver

table th, table td
  padding 16px 8px
  text-align center

table th
  background silver
  color black
  text-transform uppercase

@media (max-width 800px)
  table
    border 0
    margin 0
    width 100%

  table thead
    display none

  table tr
    border-bottom 2px solid silver
    display block
    margin-bottom 8px
    padding 8px

  table th, table td
    display block

  table td
    border-bottom 2px dotted silver
    text-align right

  table td:last-child
    border-bottom 0

  table td:before
    content attr(data-label)
    float left
    font-weight 700
    margin 0 16px 16px 0
    text-transform uppercase
