<footer>
  <hr>
  <p>
    Subscribe to <a href='/feed.xml' rel='alternate' type='application/rss+xml'>RSS</a> or <a href='/feed.json' rel='alternate' type='application/json'>JSON</a> feed.
  </p>
  <p>
    Copyright © {{ dateFormat "2006" now }} Charles Reynolds-Talbot. <a href="https://gitlab.com/charlesrt/charlesrt.hugo">View Source</a>.<br />
    License <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike</a>.<br />
    Follow me on <a href="https://twitter.com/charles_rt">Twitter</a>.
</footer>
