<!DOCTYPE html>
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    <main>
      <h1>
        To err is human
      </h1>
      <p>Listen. You haven't done anything wrong. It's my fault—I've cocked something up somewhere. I don't suppose you can ping me on <a href="https://twitter.com/charles_rt">Twitter</a> and let me know what link or bookmark it was you clicked? I can then add a redirect to my list of things to do and get it sorted so it doesn't happen again.</p>

      <p>Since you're here, why don't you have a look over my <a href="/blog">blog posts</a>—that's where all the <em>really</em> interesting words are—you might find what you were looking for.</p>
    </main>
  </body>
</html>
