<!DOCTYPE html>
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    {{ partial "header.html" . }}
    <main>
      <h1 class="title">
        Design, <br />people&nbsp;<span class="highlight">&</span> leadership
      </h1>
      {{ .Content }}
        <!-- range where .Pages "Section" "blog" -->
        {{ range where .Pages "Section" "blog" }}
          <h2 class="list-title">
            <a href="{{ .RelPermalink }}">
              {{- .Title -}}
            </a>
          </h2>
            <!-- {{ range $i, $e := .Params.tags }}
            {{ if $i }}• {{ end }}
              <a href="/tags/{{- . | urlize | lower -}}">#{{ . }}</a>
            {{ end }} -->
        {{ end }}
    </main>
    {{ partial "footer.html" . }}
  </body>
</html>
