:root {
  font-family: "Futura", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 16px;
  font-size: 100%;
  line-height: 1.5;
  overflow-wrap: break-word;
  hanging-punctuation: first;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  background: #111;
  color: #ddd;
}
:focus {
  outline: 4px solid #ffdc00;
}
::selection {
  background: #ffdc00;
  color: #111;
}
body,
blockquote,
figure {
  margin: 0;
}
body {
  padding: 0 2rem 0.75rem;
}
@media (min-width: 36rem) {
  body {
    padding: 0 8% 1.5rem;
  }
}
@media (min-width: 48rem) {
  body {
    padding: 0 16% 1.5rem;
  }
}
main {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-weight: 800;
  letter-spacing: -0.04rem;
  overflow-wrap: normal;
}
h1 {
  font-size: 4.096rem;
  line-height: 3.75rem;
  margin-top: 3.75rem;
  margin-bottom: 2.25rem;
}
h2 {
  font-size: 2.56rem;
  line-height: 2.25rem;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}
h3 {
  font-size: 1.6rem;
  line-height: 1.5rem;
  margin-top: 2.25rem;
  margin-bottom: 0.75rem;
}
h4 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0;
}
a {
  color: inherit;
}
p {
  line-height: 1.5rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
  max-width: 32rem;
}
p a {
  color: #4aa8fb;
}
p a:link,
p a:visited {
  color: #4aa8fb;
}
p a:hover,
p a:active,
p a:focus {
  color: #7fdbff;
}
p,
ul,
ol,
figure,
iframe,
h2,
h3,
h4,
h5,
h6 {
  max-width: 32rem;
}
figure {
  text-align: center;
}
img {
  max-width: calc(100% + 4rem);
  margin-left: -2rem;
  height: auto;
}
figcaption {
  text-align: center;
  font-size: 0.875rem;
  color: #aaa;
}
blockquote {
  border-left: 4px solid currentColor;
  font-style: italic;
  padding-left: 1rem;
}
ul,
ol {
  padding-left: 0;
  list-style-position: outside;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
pre,
code {
  background: #001f3f;
  color: #7fdbff;
  font-family: Menlo, Monaco, Consolas, Courier, monospace;
  font-size: 0.875rem;
  line-height: 1.5rem;
}
pre {
  margin-top: 0;
  margin-bottom: 1.5rem;
}
code {
  display: inline-block;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
iframe {
  width: 100%;
  height: calc((100vw / 16) * 9);
}
@media (min-width: 36rem) {
  iframe {
    height: 18rem;
  }
}
@media screen and (prefers-color-scheme: light) {
  :root {
    background-color: #fff;
    color: #111;
  }
}
@media screen and (prefers-color-scheme: light) {
  body {
    background-color: #fff;
    color: #111;
  }
}
@media screen and (prefers-color-scheme: light) {
  p a {
    color: #0074d9;
  }
  p a:link,
  p a:visited {
    color: #0074d9;
  }
  p a:hover,
  p a:active,
  p a:focus {
    color: #001f3f;
  }
}
table {
  background: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  padding: 0;
}
table tr {
  border: 2px solid #ddd;
}
table th,
table td {
  padding: 16px 8px;
  text-align: center;
}
table th {
  background: #ddd;
  color: #111;
  text-transform: uppercase;
}
@media (max-width: 800px) {
  table {
    border: 0;
    margin: 0;
    width: 100%;
  }
  table thead {
    display: none;
  }
  table tr {
    border-bottom: 2px solid #ddd;
    display: block;
    margin-bottom: 8px;
    padding: 8px;
  }
  table th,
  table td {
    display: block;
  }
  table td {
    border-bottom: 2px dotted #ddd;
    text-align: right;
  }
  table td:last-child {
    border-bottom: 0;
  }
  table td:before {
    content: attr(data-label);
    float: left;
    font-weight: 700;
    margin: 0 16px 16px 0;
    text-transform: uppercase;
  }
}
body {
  background-image: linear-gradient(286deg, transparent 1%, transparent 48%, #454545 48%, #454545 52%, transparent 52%, transparent 100%);
  background-repeat: no-repeat;
  background-position: center top 20px;
  background-size: 100vw calc(100vh - 36px);
}
@media screen and (prefers-color-scheme: light) {
  body {
    background-image: linear-gradient(286deg, transparent 1%, transparent 48%, #454545 48%, #454545 52%, transparent 52%, transparent 100%);
    background-image: linear-gradient(286deg, transparent 1%, transparent 48%, #aaa 48%, #aaa 52%, transparent 52%, transparent 100%);
  }
}
header {
  border-top: 4px solid #ff4136;
  -moz-border-image: -moz-linear-gradient(left, #ff4136 33%, #4aa8fb 33%, #4aa8fb 66%, #ffdc00 66%) 100% 0 0 0/4px 0 0 0;
  -webkit-border-image: -webkit-linear-gradient(left, #ff4136 33%, #4aa8fb 33%, #4aa8fb 66%, #ffdc00 66%) 100% 0 0 0/4px 0 0 0;
  border-image: linear-gradient(to right, #ff4136 33%, #4aa8fb 33%, #4aa8fb 66%, #ffdc00 66%) 100% 0 0 0/4px 0 0 0;
  border-image-slice: 1;
  border-left-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  left: 0;
  top: 0;
  position: fixed;
  width: 100vw;
  z-index: 2;
}
@media screen and (prefers-color-scheme: light) {
  header {
    -moz-border-image: -moz-linear-gradient(left, #ff4136 33%, #0074d9 33%, #0074d9 66%, #ffdc00 66%) 100% 0 0 0/4px 0 0 0;
    -webkit-border-image: -webkit-linear-gradient(left, #ff4136 33%, #0074d9 33%, #0074d9 66%, #ffdc00 66%) 100% 0 0 0/4px 0 0 0;
    border-image: linear-gradient(to right, #ff4136 33%, #0074d9 33%, #0074d9 66%, #ffdc00 66%) 100% 0 0 0/4px 0 0 0;
  }
}
header a.logo {
  color: #ff4136;
  cursor: default;
  display: inline-block;
  font-weight: 800;
  padding: 0.25rem 0.75rem;
  text-decoration: none;
}
footer {
  margin-top: 1.5rem;
}
@media (min-width: 36rem) {
  h1 {
    font-size: 6.554rem;
    line-height: 6rem;
  }
}
ul,
ol {
  list-style: none;
}
ul > li:before {
  content: "\2022";
  color: #ff4136;
  display: inline-block;
  width: 1.5rem;
  margin-left: -1.5rem;
}
ol {
  counter-reset: item;
}
ol > li:before {
  content: counter(item) ".";
  counter-increment: item;
  color: #ff4136;
  display: inline-block;
  width: 1.5rem;
  margin-left: -1.5rem;
}
ol > li p {
  display: inline;
}
span.highlight {
  color: #ff4136;
}
.list-title {
  display: inline;
  line-height: 3.75rem;
  margin-right: 1.5rem;
  border-bottom: 5px solid transparent;
  background-image: linear-gradient(to bottom, transparent 68%, #454545 68%);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  text-decoration: none;
  -webkit-transition: background-size 0.45s ease;
  -moz-transition: background-size 0.45s ease;
  -ms-transition: background-size 0.45s ease;
  -o-transition: background-size 0.45s ease;
  transition: background-size 0.45s ease;
}
.list-title:hover {
  border-bottom: 5px solid #ff4136;
  background-size: 100% 100%;
  cursor: pointer;
}
@media screen and (prefers-color-scheme: light) {
  .list-title {
    background-image: linear-gradient(to bottom, transparent 68%, #aaa 68%);
  }
}
.list-title a {
  text-decoration: none;
}
.list-title a::after {
  content: "\002E";
  color: #ff4136;
}
.hero--x,
.hero--bg {
  left: 50%;
  margin-left: -50vw;
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}
.hero--x span,
.hero--bg span {
  font-size: 6.554rem;
  font-size: calc(100vw / 8);
  font-style: italic;
  font-weight: 800;
  margin: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  text-transform: uppercase;
  transform: translate(-50%, -50%) rotate(420deg);
}
.hero--bg {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  position: relative;
  z-index: 1;
}
.hero--bg::after {
  content: '';
  width: 100%;
  height: 10%;
  position: absolute;
  background: #111;
  bottom: 0;
  transform-origin: right bottom;
  transform: skewY(-2deg);
}
@media screen and (prefers-color-scheme: light) {
  .hero--bg::after {
    background-color: #fff;
  }
}
@media (min-width: 36rem) {
  .hero--bg {
    background-attachment: fixed;
  }
}
